<div class="card">
    <h3 class="card-title">Client Details</h3>
    <div class="card-body">
        <!-- Company Details form groups -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>State</label>
            <select class="form-control">
                <option>Select...</option>
                <option>Val d'oise</option>
            </select>
        </div>
        <div class="form-group">
            <label>ID Number</label>
            <input type="text" class="form-control">
        </div>

 
        <!-- ... rest of the Client details form groups ... -->
    </div>
</div>