{% extends "layouts/dashboard.html" %}

{% block title %}Client page{% endblock %}

    {% block extra_css %}
       
    {% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Enterpirse</a></li>
            <li class="active">{% if enterprise %}Update{% else %}Add{% endif %} Enterprise</li>
        </ol>
        <!-- Form Actions -->
        <form action="{{ url_for('update_enterprise', enterprise_id=enterprise.id) if enterprise else url_for('create_enterprise') }}" method="post">
            <div class="form-actions">
                <div class="text-right">
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">{{ "Update enterprise" if enterprise else "Save enterprise"  }}</button>
                </div>
            </div>
            <div class="main-container">
                <div class="scrollable-container">
                    {% include "components/cards/addEnterprise.html" %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
<script id="customerData" type="application/json">
    {{ customer_data | tojson }}
   
</script>

    <script>
        $(document).ready(function() {
            const customerData = JSON.parse(document.getElementById('customerData').textContent);
            const customerNames = Object.keys(customerData);
            $('#customerSearch').autocomplete({
                source: customerNames,
                select: function(event, ui) {
                    const customer = customerData[ui.item.value];
                    console.log('Customer data:', customer);
                    $('#customerEmail').val(customer.email);
                    console.log('Customer_id:', customer.customer_id);
                    $('#customerId').val(customer.customer_id);
                  
                }
            });
        });
    </script>

{% endblock %}